#container {
    background-color: #f0f0f0;
    margin: 0 15%;

}

h1 {
    height: 70px;
    color: white;
    background-color: skyblue;
    line-height: 70px;
    text-indent: 70px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

#nav {
    text-align: center
}

#nav li {
    display: inline-block;
    width: 150px;
    height: 50px;
    background-color: skyblue;
    line-height: 50px;
    text-indent: 6px;
    color: white;
    border: 1px solid cornflowerblue;
    border-radius: 0 10px;
    margin: 0 8px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;


}

#nav li a {
    text-decoration: none;
    color: white;
}


#nav li a:hover {
    font-weight: 700;
}

.center {
    text-align: center;


}

.margin {
    margin: 0 30px;
}

.xuzhou {
    text-align: center;
}

textarea {
    width: 100%;
    height: 100px;
}

table {
    background-color: white;
}

td {
    font-size: 20px;
    text-align: center;
    color: green;
}

th {
    color: red;
}

#jiewei {
    padding: 10px 0;
}

h1,
h2 {
    font-style: italic;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h2 {
    color: rgb(54, 114, 114);
}

h4 {
    color: cornflowerblue;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    text-align: center;
}

#jiaxiang p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}